<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xjek.xuberservice">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application>
        <activity
            android:name="com.xjek.xuberservice.xuberMainActivity"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_map_key" />

    </application>

</manifest>
