<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xjek.taxiservice" >

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application>
        <activity android:name="com.xjek.taxiservice.views.main.ActivityTaxiMain"/>
        <activity android:name="com.xjek.taxiservice.views.invoice.InvoiceActivity"/>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_map_key" />

        <service
            android:name=".location_service.TaxiLocationService"
            android:enabled="true"
            android:exported="true" />
    </application>

</manifest>
