<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.appoets.gojek.traximodule" >

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    
    <application>
        <activity android:name=".views.views.main.ActivityTaxiMain"/>


        <activity android:name=".views.views.invoice.InvoiceActivity"/>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_map_key" />
    </application>

</manifest>
